<div class="rectangle">
    <div class="content">
        <div class="text">
            <h2>Fundación Pet Care</h2>
            <h5>
                ¡Únete a nuestra fundación de adopción de <br> mascotas y ayuda a salvar vidas! Juntos, podemos <br>
                encontrar hogares amorosos para animales <br> necesitados, promover la tenencia responsable de <br>
                mascotas ¡Adopta, no compres, y haz la diferencia <br> hoy mismo!
            </h5>
        </div>
        <img src="../../assets/perroImgHome.png" class="rounded-circle mx-3" width="200" height="200" />
        <div class="btn">
            <button type="button" class="btn btn-outline-dark btn-lg">¿Quieres ser parte de Nuestros <br> voluntariados?</button>
            <br>
            <button type="button" class="btn btn-outline-dark">¿Quieres adoptar?</button>
        </div>
    </div>
</div>
