<div class="container my-2 px-5">
    <div class="row bg-secondary bg-opacity-25 p-4 mx-0 my-4 rounded shadow-lg">
        <div class="col-lg-6 col-md-6 col-sm-auto text-center my-auto">
            <h1 class="fs-3 fw-bold">Fundación Pet Care</h1>
            <h1 class="fs-5">
                ¡Únete a nuestra fundación de adopción de mascotas y ayuda a salvar vidas! Juntos, podemos
                encontrar hogares amorosos para animales necesitados, promover la tenencia responsable de
                mascotas ¡Adopta, no compres, y haz la diferencia hoy mismo!
            </h1>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-auto">
            <img src="../../assets/perroImgHome.png" class="w-100" />
        </div>
        <div class="col-lg-2 col-md-2 col-sm-auto my-auto text-center">
            <button type="button" class="btn btn-green shadow my-2 rounded-pill">¿Quieres ser voluntario?</button>
            <button type="button" class="btn btn-green shadow my-2 rounded-pill">¿Quieres adoptar?</button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row my-3 mx-0">
        <div class="col-lg-3 col-md-3 col-sm-auto my-auto text-center">
            <h1 class="fs-5">
                Estas son algunas de nuestras mascotas disponibles. ¿Quieres ver más?
            </h1>
            <button type="button" class="btn btn-green shadow my-2">Ir a galería</button>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-auto" style="overflow-x: scroll;">
            <div class="d-flex gap-2">
                <app-carta></app-carta>
                <app-carta></app-carta>
                <app-carta></app-carta>
                <app-carta></app-carta>
                <app-carta></app-carta>
            </div>
        </div>
    </div>
</div>