<div class="container-fluid px-5">
    <div class="row p-4 mx-0 rounded">
        <div class="col-lg-5 col-md-5 col-sm-auto p-0">
            <img src="../../assets/Mascotas.png" class="w-100" />
        </div>
        <div class="col-lg-7 col-md-7 col-sm-auto text-center my-auto p-0">
            <h1 class="fs-2 fw-bold">Fundación Pet Care</h1>
            <h1 class="fs-4 mb-3">
                ¡Únete a nuestra fundación de adopción de mascotas y ayuda a salvar vidas! Juntos, podemos
                encontrar hogares amorosos para animales necesitados, promover la tenencia responsable de
                mascotas ¡Adopta, no compres, y haz la diferencia hoy mismo!
            </h1>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-green fw-bold shadow mx-3 my-2"><img src="../../assets/Huella.png"
                        class="mb-1" width="20" /> ¿Quieres ser voluntario?</button>
                <button type="button" class="btn btn-green fw-bold shadow mx-3 my-2"><img src="../../assets/Huella.png"
                        class="mb-1" width="20" /> ¿Quieres adoptar?</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid px-3 pb-3 mb-5">
    <div class="row mx-0 p-4 rounded text-center justify-content-center align-items-center" style="background-color: #E1C482;">
        <div class="col-lg-3 col-md-4 col-sm-auto my-auto">
            <h1 class="fs-4 px-2">
                ¡Mira algunas de nuestras bellas mascotas! <br /> ¡Conviértete en uno de sus orgullosos
                dueños!<br /><br /> ¿Quieres
                ver más?
            </h1>
            <a type="button" class="btn btn-green fw-bold shadow my-2"  href="/gallery"><img src="../../assets/Huella.png"
                    class="mb-1" width="20" /> Ir a galería</a>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-auto rounded px-3 py-2" style="background-color: #EEBA6C;">
            <div class="d-flex w-100 gap-2 py-2" style="overflow-x: auto; max-width: 100%;">
                <app-carta [img]="'../../assets/imagenPerro.jpeg'"
                [descripcion]="'Some quick example text to build on the card title and make up the bulk of the cards content.'"></app-carta>
            <app-carta [img]="'../../assets/imagenGato.jpg'"
                [descripcion]="'Some quick example text to build on the card title and make up the bulk of the cards content.'"></app-carta>
                <app-carta [img]="'../../assets/imagenPerro.jpeg'"
                [descripcion]="'Some quick example text to build on the card title and make up the bulk of the cards content.'"></app-carta>
            <app-carta [img]="'../../assets/imagenGato.jpg'"
                [descripcion]="'Some quick example text to build on the card title and make up the bulk of the cards content.'"></app-carta>
                <app-carta [img]="'../../assets/imagenPerro.jpeg'"
                [descripcion]="'Some quick example text to build on the card title and make up the bulk of the cards content.'"></app-carta>
            <app-carta [img]="'../../assets/imagenGato.jpg'"
                [descripcion]="'Some quick example text to build on the card title and make up the bulk of the cards content.'"></app-carta>
                <app-carta [img]="'../../assets/imagenPerro.jpeg'"
                [descripcion]="'Some quick example text to build on the card title and make up the bulk of the cards content.'"></app-carta>
            <app-carta [img]="'../../assets/imagenGato.jpg'"
                [descripcion]="'Some quick example text to build on the card title and make up the bulk of the cards content.'"></app-carta>
            </div>
        </div>
    </div>
</div>