<div class="row">
    <div class="col">
        <div class="fs-1 mt-3 fw-bold text-center">Veterinario</div>
    </div>
</div>
<div class="row m-0">
    <div class="col-sm-4 col-md-4 col-lg-4 p-4">
        <div class="bg-secondary bg-opacity-50 p-3 rounded shadow">
            <h1 class="fs-3 text-center">Acerca de</h1>
            <div class="align-middle">
                <div class="d-grid my-2">
                    <button type="button" class="btn btn-secondary" (click)="mostrarDatos()">Actualizar datos</button>
                </div>
                <div class="d-grid my-2">
                    <button type="button" class="btn btn-secondary" (click)="mostrarHistoriales()">Ver historial clínico</button>
                </div>
                <div class="d-grid my-2">
                    <button type="button" class="btn btn-secondary" (click)="mostrarMascotas()">Ver mascotas</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Columna CRUD Historial Clínico -->
    <div class="col-sm-7 col-md-7 col-lg-8 p-4" *ngIf="show == '2'">
        <div class="row mb-4">
            <div class="col bg-secondary bg-opacity-50 p-3 rounded shadow h-50">
                <h1 class="fs-3 text-center">Historiales clínicos</h1>
                <div class="d-flex gap-2 my-2">
                    <button type="button" class="btn btn-primary w-50" (click)="crud = 1">Ver historiales</button>
                    <button type="button" class="btn btn-success w-50" (click)="crud = 2">Crear historial</button>
                </div>
                <div class="d-flex gap-2 my-2">
                    <button type="button" class="btn btn-warning w-50" (click)="crud = 3">Actualizar historial</button>
                    <button type="button" class="btn btn-danger w-50" (click)="crud = 4">Eliminar historial</button>
                </div>
            </div>
        </div>
        <div class="row" [ngSwitch]="crud">
            <!-- Cuadro de informacion CRUD VER-->
            <div class="col bg-secondary bg-opacity-50 p-3 rounded shadow h-50" *ngSwitchCase="1">
                <form id="nuevaHistorial">
                    <h1 class="fs-3 text-center mb-3">Ver historiales</h1>
                    <div class="row mx-0 mb-3 w-100">
                        <div class="col w-100" style="max-height: 220px; overflow-y: auto;">
                            <ng-container *ngIf="medicalRecords">
                                <div class="d-flex justify-content-between bg-secondary text-white rounded p-2 my-1 shadow w-100" *ngFor="let medicalRecord of medicalRecords">
                                    <div class="fs-6">Referencia <br>{{medicalRecord.idMedicalRe}}</div>
                                    <div *ngIf="medicalRecord.createDate" class="fs-6">Fecha <br>{{formatDateString(medicalRecord.createDate.toString())}}</div>
                                    <a href="#" class="link link-info my-auto text-decoration-none">Ver</a>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Cuadro de informacion CRUD CREAR-->
            <div class="col bg-secondary bg-opacity-50 p-3 rounded shadow h-50" *ngSwitchCase="2">
                <form id="nuevaHistorial">
                    <h1 class="fs-3 text-center mb-3">Crear historial</h1>
                    <div class="row justify-content-between gap-2">
                        <div class="col">
                            <div class="form-floating h-100">
                                <textarea class="form-control h-100" placeholder="Leave a comment here"
                                    #description></textarea>
                                <label for="floatingTextarea2">Observaciones</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3 w-100">
                        <button type="submit" class="btn btn-success" (click)="postMedicalRecord()">Confirmar</button>
                    </div>
                </form>
            </div>
            <!-- Cuadro de informacion CRUD ACTUALIZAR-->
            <div class="col bg-secondary bg-opacity-50 p-3 rounded shadow h-50" *ngSwitchCase="3">
                <form id="nuevaHistorial">
                    <h1 class="fs-3 text-center mb-3">Actualizar historial</h1>
                    <div class="row justify-content-between gap-2">
                        <div class="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="idHistorial">Id Historial</span>
                                <input type="text" #idHistorial class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Creacion</span>
                                <input type="datetime" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" #createDate disabled>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Actualizacion</span>
                                <input type="datetime" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" #updateDate disabled>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here"
                                    id="floatingTextarea2" #description disabled></textarea>
                                <label for="floatingTextarea2">Observaciones</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3 w-100 gap-2">
                        <button type="submit" class="btn btn-outline-primary" (click)="getMedicalRecord(idHistorial.value)">Buscar</button>
                        <button type="submit" class="btn btn-warning" (click)="putMedicalRecord()" #btnActualizar disabled>Actualizar</button>
                    </div>
                </form>
            </div>
            <!-- Cuadro de informacion CRUD ELIMINAR-->
            <div class="col bg-secondary bg-opacity-50 p-3 rounded shadow h-50" *ngSwitchCase="4">
                <form id="nuevaHistorial">
                    <h1 class="fs-3 text-center mb-3">Eliminar historial</h1>
                    <div class="row justify-content-between gap-2">
                        <div class="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="idHistorial">Id Historial</span>
                                <input type="text" #idHistorial class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Creacion</span>
                                <input type="datetime" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" #createDate disabled>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Actualizacion</span>
                                <input type="datetime" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" #updateDate disabled>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here"
                                    id="floatingTextarea2" #description disabled></textarea>
                                <label for="floatingTextarea2">Observaciones</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3 w-100 gap-2">
                        <button type="submit" class="btn btn-outline-primary" (click)="getMedicalRecord(idHistorial.value)">Buscar</button>
                        <button type="submit" class="btn btn-danger" (click)="deleteMedicalRecord(idHistorial.value)" #btnActualizar disabled>Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Columna actualizar datos-->
    <div class="col-sm-7 col-md-7 col-lg-8 p-4" *ngIf="show == '1'">
        <div class="row mb-4">
            <div class="col bg-secondary bg-opacity-50 p-3 rounded shadow h-50">
                <h1 class="fs-3 text-center">Datos</h1>
                <div class="d-flex w-100">
                    <img src="../../assets/person-circle.svg" class="rounded-circle mx-3" width="100" />
                    <div class="w-100">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="vet.name" id="name" disabled>
                        </div>
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Apellido</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="vet.lastname" id="lastname" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Telefono</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="vet.cellphone" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Correo</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="vet.email" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Especializacion</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="vet.specialization" name="ocupation" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Experiencia</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="vet.ageExperiencie" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Nacimiento</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="formatDateString(vet.borndate)" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Tipo de usuario</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="vet.userType === 1? 'Usuario': 'Administrador'" disabled>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-warning mx-2 my-2">Editar datos</button>
                    <button type="button" class="btn btn-warning my-2">Actualizar datos</button>
                </div>
                <h1 class="fs-4 my-3 text-center">Cambiar contraseña</h1>
                <div class="input-group my-2">
                    <span class="input-group-text" id="inputGroup-sizing-default">Contraseña actual</span>
                    <input type="password" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group my-2">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nueva contraseña</span>
                    <input type="password" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group my-2">
                    <span class="input-group-text" id="inputGroup-sizing-default">Confirmar nueva contraseña</span>
                    <input type="password" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-warning my-2">Actualizar contraseña</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Columna Crear Mascotas-->
     <div class="col-sm-7 col-md-7 col-lg-8 p-4" *ngIf="show == '3'">
        <div class="bg-secondary bg-opacity-50 p-4">
            <div class="fw-bold fs-3 text-center">Agregar mascota</div>
            <div class="input-group my-2">
                <span class="input-group-text" id="inputGroup-sizing-default">Id</span>
                <input type="number" class="form-control" placeholder="Apodo" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" #idPet>
            </div>
            <div class="input-group my-2">
                <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                <input type="text" class="form-control" placeholder="Apodo" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" #name>
            </div>
            <div class="input-group my-2">
                <span class="input-group-text" id="inputGroup-sizing-default">Edad</span>
                <input type="number" class="form-control" placeholder="Años" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" #age>
            </div>
            <div class="input-group my-2">
                <span class="input-group-text" id="inputGroup-sizing-default">Color</span>
                <input type="text" class="form-control" placeholder="Color simple" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" #color>
            </div>
            <div class="input-group my-2">
                <span class="input-group-text" id="inputGroup-sizing-default">Raza</span>
                <input type="text" class="form-control" placeholder="Especie" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" #race>
            </div>
            <div class="input-group my-2">
                <span class="input-group-text" id="inputGroup-sizing-default">Peso</span>
                <input type="number" class="form-control" placeholder="Altura en Kg" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" #weight>
            </div>
            <div class="input-group my-2">
                <span class="input-group-text" id="inputGroup-sizing-default">Altura</span>
                <input type="number" class="form-control" placeholder="Altura en cm" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" #height>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Tipo</span>
                <select class="form-select" aria-label="Default select example" #Type>
                    <option selected>Selecciona el género</option>
                    <option value="0">Gato</option>
                    <option value="1">Perro</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Genero</span>
                <select class="form-select" aria-label="Default select example" #genero>
                    <option selected>Selecciona el género</option>
                    <option value="0">Hembra</option>
                    <option value="1">Macho</option>
                </select>
            </div>
            <div class="form-floating h-100">
                <textarea class="form-control h-100" placeholder="Leave a comment here"
                    id="floatingTextarea2" #descripcion></textarea>
                <label for="floatingTextarea2">Descripción o personalidad</label>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-success" (click)="createPet()">Agregar</button>
            </div>
        </div>
     </div>
</div>