<nav class="navbar w-100 bg-gradient justify-content-between shadow px-2" style="background-color: #faaf6b">
  <div class="row w-100 justify-content-between px-0">
    <div class="col-auto px-0">
      <a class="ms-2" routerLink="home"><img src="../../assets/Logo.png" class="" width="150" /></a>
    </div>
    <div class="col-auto my-auto px-0">
      <a class="my-auto mx-1" routerLink="login">
        <img src="../../assets/person-circle.svg" class="rounded-circle" width="32" />
      </a>
    </div>
  </div>
</nav>