<nav class="navbar bg-gradient justify-content-between shadow px-4" style="background-color: #faaf6b">
  <a class="navbar-brand fw-bold">PetCare</a>
  <div class="d-flex gap-2">
    <button type="button" class="btn btn-sm btn-outline-success">Ingresar</button>
    <button type="button" class="btn btn-success">Registrate</button>
    <div class="dropdown my-auto" hidden>
      <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <div class="rounded-circle shadow-lg my-1 mx-1">
      <img src="../../assets/person-circle.svg" class="" width="32" />
    </div>
  </div>
</nav>