<div class="row h-75 m-0" style="background-color: rgb(227, 205, 156);">
    <div class="col-4 p-5 h-100">
        <div class="bg-light p-3 rounded shadow h-100">
            <h1 class="fs-3">Acerca de</h1>
        </div>
    </div>
    <div class="col-8 p-5 ">
        <div class="row mb-4">
            <div class="col bg-light p-3 rounded shadow h-50">
                <h1 class="fs-3 text-center">Citas</h1>
                <div class="d-flex gap-2 my-2">
                    <button type="button" class="btn btn-primary w-50">Ver citas</button>
                    <button type="button" class="btn btn-success w-50">Crear cita</button>
                </div>
                <div class="d-flex gap-2 my-2">
                    <button type="button" class="btn btn-warning w-50">Actualizar cita</button>
                    <button type="button" class="btn btn-danger w-50">Cancelar cita</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col bg-light p-3 rounded shadow h-50">
                <h1 class="fs-3">Acerca de</h1>
            </div>
        </div>
    </div>
</div>