<div class="row">
    <div class="col">
        <div class="fs-1 mt-3 fw-bold text-center">Psicólogo</div>
    </div>
</div>
<div class="row m-0">
    <div class="col-sm-4 col-md-4 col-lg-4 p-4">
        <div class="bg-secondary bg-opacity-50 p-3 rounded shadow">
            <h1 class="fs-3 text-center">Acerca de</h1>
            <div class="align-middle">
                <div class="d-grid my-2">
                    <button type="button" class="btn btn-secondary" (click)="mostrarDatos()">Actualizar datos</button>
                </div>
                <div class="d-grid my-2">
                    <button type="button" class="btn btn-secondary" (click)="mostrarCitas()">Citas</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Columna CRUD Citas -->
    <div class="col-sm-7 col-md-7 col-lg-8 p-4" *ngIf="!show">
        <div class="row mb-4">
            <div class="col bg-secondary bg-opacity-50 p-3 rounded shadow h-50">
                <h1 class="fs-3 text-center">Citas</h1>
                <div class="d-flex gap-2 my-2">
                    <button type="button" class="btn btn-primary w-50" (click)="crud = 1">Ver citas</button>
                    <button type="button" class="btn btn-success w-50" (click)="crud = 2">Crear cita</button>
                </div>
                <div class="d-flex gap-2 my-2">
                    <button type="button" class="btn btn-warning w-50" (click)="crud = 3">Actualizar cita</button>
                    <button type="button" class="btn btn-danger w-50" (click)="crud = 4">Cancelar cita</button>
                </div>
            </div>
        </div>
        <div class="row" [ngSwitch]="crud">
            <!-- Cuadro de informacion CRUD VER-->
            <div class="col bg-secondary bg-opacity-50 p-3 rounded shadow h-50" *ngSwitchCase="1">
                <form id="nuevaCita">
                    <h1 class="fs-3 text-center mb-3">Ver citas</h1>
                    <div class="row mx-0 mb-3 w-100">
                        <div class="col w-100" style="max-height: 220px; overflow-y: auto;">
                            <ng-container *ngIf="appointments">
                                <div class="d-flex justify-content-between bg-secondary text-white rounded p-2 my-1 shadow w-100" *ngFor="let appointment of appointments">
                                    <div class="col">
                                        Referencia
                                        <div class="fs-6">{{appointment.idAppointment}}</div>
                                      </div>
                                      <div class="col">
                                        Fecha
                                        <div class="fs-6">{{appointment.appointmentDate}}</div>
                                      </div>
                                      <div class="col">
                                        Adoptante
                                        <div class="fs-6">{{appointment.adopter?.name}}</div>
                                      </div>
                                    <a href="#" class="link link-info text-decoration-none">Ver</a>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Cuadro de informacion CRUD CREAR-->
            <div class="col bg-secondary bg-opacity-50 p-3 rounded shadow h-50" *ngSwitchCase="2">
                <form id="nuevaCita">
                    <h1 class="fs-3 text-center mb-3">Crear cita</h1>
                    <div class="row justify-content-between gap-2">
                        <div class="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Creacion</span>
                                <input type="date" [(ngModel)]="appointmentDate" name="appointmentDate" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Psicólogo</span>
                                <select class="form-select" [(ngModel)]="pshicologist" name="pshicologist" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option *ngFor="let psicologo of pshicologists" [ngValue]='psicologo'>{{psicologo.name}} {{psicologo.lastname}}</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Adoptante</span>
                                <select class="form-select" [(ngModel)]="adopter" name="adopter" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option *ngFor="let adopter of adopters" [ngValue]='adopter'>{{adopter.name}} {{adopter.lastname}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3 w-100">
                        <button type="submit" class="btn btn-success" (click)="crearCita()">Crear</button>
                    </div>
                </form>
            </div>
            <!-- Cuadro de informacion CRUD ACTUALIZAR-->
            <div class="col bg-secondary bg-opacity-50 p-3 rounded shadow h-50" *ngSwitchCase="3">
                <form id="nuevaCita">
                    <h1 class="fs-3 text-center mb-3">Aceptar Adopción</h1>
                    <div class="row justify-content-between gap-2">
                        <div class="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Id Cita</span>
                                <input type="text" class="form-control" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" [(ngModel)]="guid" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Creacion</span>
                                <input type="date" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" [value]="appointment?.appointmentDate | date:'yyyy-MM-dd'" disabled>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Psicólogo</span>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" [value]="appointment?.psichologist?.name" disabled>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Adoptante</span>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" [value]="appointment?.adopter?.name" disabled>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating h-100">
                                <textarea class="form-control h-100" placeholder="Leave a comment here"
                                    id="floatingTextarea2" disabled></textarea>
                                <label for="floatingTextarea2">Observaciones</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3 w-100 gap-2">
                        <button type="submit" class="btn btn-outline-primary" (click)="buscarCita()">Buscar</button>
                        <button type="submit" class="btn btn-warning" (click)="confirmarCita()">Confirmar Visita</button>
                    </div>
                </form>
            </div>
            <!-- Cuadro de informacion CRUD ELIMINAR-->
            <div class="col bg-secondary bg-opacity-50 p-3 rounded shadow h-50" *ngSwitchCase="4">
                <form id="nuevaCita">
                    <h1 class="fs-3 text-center mb-3">Denegar adopción</h1>
                    <div class="row justify-content-between gap-2">
                        <div class="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Id Cita</span>
                                <input type="text" class="form-control" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" [(ngModel)]="guid" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Psicólogo</span>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" [value]="appointment?.psichologist?.name" disabled>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Adoptante</span>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" [value]="appointment?.adopter?.name" disabled>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating h-100">
                                <textarea class="form-control h-100" placeholder="Leave a comment here"
                                    id="floatingTextarea2" disabled></textarea>
                                <label for="floatingTextarea2">Observaciones</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3 w-100 gap-2">
                        <button type="submit" class="btn btn-outline-primary" (click)="buscarCita()">Buscar</button>
                        <button type="submit" class="btn btn-danger" (click)="denegarCita()">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Columna actualizar datos-->
    <div class="col-sm-7 col-md-7 col-lg-8 p-4" *ngIf="show">
        <div class="row mb-4">
            <div class="col bg-secondary bg-opacity-50 p-3 rounded shadow h-50">
                <h1 class="fs-3 text-center">Datos</h1>
                <div class="d-flex w-100">
                    <img src="../../assets/person-circle.svg" class="rounded-circle mx-3" width="100" />
                    <div class="w-100">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="pshicologist?.name" id="name" disabled>
                        </div>
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Apellido</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="pshicologist?.lastname" id="lastname" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Telefono</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="pshicologist?.cellphone" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Correo</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="pshicologist?.email" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Carta</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="pshicologist?.professionalCard" name="ocupation" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Experiencia</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="pshicologist?.ageExperiencie" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Nacimiento</span>
                            <input type="date" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="pshicologist?.borndate" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Tipo de usuario</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="pshicologist?.userType === 1? 'Usuario': 'Administrador'" disabled>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-warning mx-2 my-2">Editar datos</button>
                    <button type="button" class="btn btn-warning my-2">Actualizar datos</button>
                </div>
                <h1 class="fs-4 my-3 text-center">Cambiar contraseña</h1>
                <div class="input-group my-2">
                    <span class="input-group-text" id="inputGroup-sizing-default">Contraseña actual</span>
                    <input type="password" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group my-2">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nueva contraseña</span>
                    <input type="password" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group my-2">
                    <span class="input-group-text" id="inputGroup-sizing-default">Confirmar nueva contraseña</span>
                    <input type="password" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-warning my-2">Actualizar contraseña</button>
                </div>
            </div>
        </div>
    </div>