<div class="row">
    <div class="col">
        <div class="fs-1 mt-3 fw-bold text-center">Adoptante</div>
    </div>
</div>
<div class="row m-0">
    <div class="col-sm-4 col-md-4 col-lg-4 p-4">
        <div class="bg-secondary bg-opacity-50 p-3 rounded shadow">
            <h1 class="fs-3 text-center">Acerca de</h1>
            <div class="align-middle">
                <div class="d-grid my-2">
                    <button type="button" class="btn btn-secondary" (click)="mostrarDatos()">Actualizar datos</button>
                </div>
                <div class="d-grid my-2">
                    <button type="button" class="btn btn-secondary" (click)="mostrarProcesos()">Procesos</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Columna CRUD Citas -->
    <div class="col-sm-7 col-md-7 col-lg-8 p-4" *ngIf="!show">
        <div class="row mb-4">
            <div class="col bg-secondary bg-opacity-50 p-3 rounded shadow h-50">
                <h1 class="fs-3 text-center">Procesos</h1>
                <div class="d-flex gap-2 my-2">
                    <button type="button" class="btn btn-primary w-50" (click)="crud = 1">Ver Citas</button>
                    <button type="button" class="btn btn-success w-50" (click)="crud = 2">Ver Adopciones</button>
                </div>
                <div class="d-flex gap-2 my-2">
                    <button type="button" class="btn btn-warning w-50" (click)="crud = 3">Ver Voluntariados</button>
                    <button type="button" class="btn btn-danger w-50" (click)="crud = 4">Cancelar cita</button>
                </div>
            </div>
        </div>
        <div class="row" [ngSwitch]="crud">
            <!-- Cuadro de informacion CRUD VER-->
            <div class="col bg-secondary bg-opacity-50 p-3 rounded shadow h-50" *ngSwitchCase="1">
                <form id="nuevaCita">
                    <h1 class="fs-3 text-center mb-3">Ver citas</h1>
                    <div class="row mx-0 mb-3 w-100">
                        <div class="col w-100" style="max-height: 220px; overflow-y: auto;">
                            <ng-container *ngIf="appointments">
                                <div class="d-flex justify-content-between bg-secondary text-white rounded p-2 my-1 shadow w-100" *ngFor="let appointment of appointments">
                                    <div class="fs-6">{{appointment.idAppointment}}</div>
                                    <div class="fs-6">{{appointment.appointmentDate}}</div>
                                    <div class="fs-6">{{appointment.adopter}}</div>
                                    <a href="#" class="link link-info text-decoration-none">Ver</a>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Cuadro de informacion CRUD VER-->
            <div class="col bg-secondary bg-opacity-50 p-3 rounded shadow h-50" *ngSwitchCase="2">
                <form id="nuevaCita">
                    <h1 class="fs-3 text-center mb-3">Ver adopciones</h1>
                    <div class="row mx-0 mb-3 w-100">
                        <div class="col w-100" style="max-height: 220px; overflow-y: auto;">
                            <ng-container *ngIf="adoptions">
                                <div class="d-flex justify-content-between bg-secondary text-white rounded p-2 my-1 shadow w-100" *ngFor="let adoption of adoptions">
                                    <div class="fs-6">{{adoption.idForm}}</div>
                                    <div class="fs-6">{{adoption.createdate}}</div>
                                    <div class="fs-6">{{adoption.adopter}}</div>
                                    <a href="#" class="link link-info text-decoration-none">Ver</a>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Cuadro de informacion CRUD VER-->
            <div class="col bg-secondary bg-opacity-50 p-3 rounded shadow h-50" *ngSwitchCase="3">
                <form id="nuevaCita">
                    <h1 class="fs-3 text-center mb-3">Ver Solicitudes de Voluntariado</h1>
                    <div class="row mx-0 mb-3 w-100">
                        <div class="col w-100" style="max-height: 220px; overflow-y: auto;">
                            <div
                                class="d-flex justify-content-between bg-secondary text-white rounded p-2 my-1 shadow w-100">
                                <div class="fs-6">Voluntario</div>
                                <div class="fs-6">Fecha solicitud</div>
                                <div class="fs-6">Fecha creacion</div>
                                <a href="#" class="link link-info text-decoration-none">Ver</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Cuadro de informacion CRUD ELIMINAR-->
            <div class="col bg-secondary bg-opacity-50 p-3 rounded shadow h-50" *ngSwitchCase="4">
                <form id="nuevaCita">
                    <h1 class="fs-3 text-center mb-3">Cancelar cita</h1>
                    <div class="row justify-content-between gap-2">
                        <div class="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Id Cita</span>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" #idAppointment>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Creacion</span>
                                <input type="datetime" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" #appointmentDate disabled>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Adoptante</span>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" #adopter disabled>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Mascota</span>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" #psichologist disabled>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3 w-100 gap-2">
                        <button type="submit" class="btn btn-outline-primary" (click)="getAppointment(idAppointment.value)">Buscar</button>
                        <button type="submit" class="btn btn-danger" (click)="deleteAppointment(idAppointment.value)" #btnActualizar disabled>Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Columna actualizar datos-->
    <div class="col-sm-7 col-md-7 col-lg-8 p-4" *ngIf="show">
        <div class="row mb-4">
            <div class="col bg-secondary bg-opacity-50 p-3 rounded shadow h-50">
                <h1 class="fs-3 text-center">Datos</h1>
                <div class="d-flex w-100">
                    <img src="../../assets/person-circle.svg" class="rounded-circle mx-3" width="100" />
                    <div class="w-100">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="adoptante.name" id="name" disabled>
                        </div>
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Apellido</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="adoptante.lastname" id="lastname" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Telefono</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="adoptante.cellphone" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Correo</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="adoptante.email" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Ocupación</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="adoptante.ocupation" name="ocupation" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Hogar</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="adoptante.houseType" id="house" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Nacimiento</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [alt]="formatDateString(adoptante.borndate)" [value]="formatDateString(adoptante.borndate)" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group my-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">Tipo de usuario</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" [value]="adoptante.userType === 1? 'Usuario': 'Administrador'" disabled>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-warning mx-2 my-2">Editar datos</button>
                    <button type="button" class="btn btn-warning my-2">Actualizar datos</button>
                </div>
                <h1 class="fs-4 my-3 text-center">Cambiar contraseña</h1>
                <div class="input-group my-2">
                    <span class="input-group-text" id="inputGroup-sizing-default">Contraseña actual</span>
                    <input type="password" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group my-2">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nueva contraseña</span>
                    <input type="password" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group my-2">
                    <span class="input-group-text" id="inputGroup-sizing-default">Confirmar nueva contraseña</span>
                    <input type="password" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-warning my-2">Actualizar contraseña</button>
                </div>
            </div>
        </div>
    </div>